body {
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  margin-block: 10px;
  font-weight: 700;
  color: #eee;
}

.container {
  background-color: #1b244a;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-family: "Inter", sans-serif;
}

#score-board {
  width: 155px;
  height: 120px;
  background-color: #080001;
  border-radius: 5px;
  color: #f94f6d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cursed Timer ULiL";
  font-size: 5.625rem;
}

.increment-btn {
  width: 45px;
  height: 45px;
  background-color: transparent;
  margin-block: 10px;
  font-family: "Cursed Timer ULiL";
  color: #9aabd8;
  border-color: #9aabd8;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 10px 0; */
}

.reset-btn {
  display: block;
  width: 100%;
  padding-block: 5px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 10px;
  background-color: transparent;
  border-radius: 5px;
  border-color: #9aabd8;
  color: #9aabd8;
}

.increment-btn:hover {
  background-color: #000;
  color: #fff;
}
